<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center">{{username}}'s Events</h1>
        </div>
        <div class="col-md-1 text-right">
            <a href="#!/events/create" class="btn btn-success">Create new event</a>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Collaborators</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each events}}
                    <tr id="{{id}}">
                        <td>{{title}}</td>
                        <td>{{description}}</td>
                        <td>{{#date date}}{{/date}}</td>
                        <td>{{category}}</td>
                        <td>{{#users}}<span>{{username.username}}, </span>{{/users}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>