<div class="row">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Online resources:</h2>
        </div>
    </div>
    {{#if result}}
    {{#result}}    
    <div id="{{id}}" class="col-md-3 text-center resource">
        <div class="thumbnail">
            <img src="{{img}}" alt="resource-cover">
            <h4><a href="#/materials/{{id}}">{{title}}</a></h4>
            <p>{{description}}</p>
            <a href="#/profiles/{{user.username}}">{{user.username}}</a>
            <p>{{createdOn}}</p>
        </div>
    </div>
    {{/result}}
    {{else}}
    <div class="col-md-12 text-center"><h3>No resources found!</h3></div>
    {{/if}}
</div>