@model IEnumerable<MvcMovies.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
{
    <p>
        Genre: <br /> @Html.DropDownList("genre", "All") <br />
        Title: @Html.TextBox("searchString", null, new { @class = "form-control" }) <br />
        <input type="submit" class="btn btn-default" value="Filter" />
    </p>
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        // var releaseDate = item.ReleaseDate.Value.ToString("dd/MMM/yyy");
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
