@model WorkingWithData.Models.Tweet

@{
    ViewBag.Title = "Twitter";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="text-center">Tweets</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                {
                    @Html.TextBox("query", null, new { @class = "form-control" })
                    <div class="text-right filter-div">
                        <input type="submit" class="btn btn-primary" value="Filter" />
                    </div>
                }
            </div>
            <div class="panel-body all-tweets-body">
                @foreach (var item in ViewBag.Tweets)
                {
                    <div class="panel-body tweet-body">
                        <p><b>@item.User.Email</b>  <span class="small italic">@item.CreatedOn</span></p>
                        <p>@item.Content</p>
                    </div>
                    }
            </div>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="panel-footer">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="pull-right">
                                    <input type="submit" value="Tweet!" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>